<section class="team-section">
  <h2>הצוות שלנו</h2>
  <div class="team-grid">
    <div class="member-card" *ngFor="let member of members">
      <img [src]="member.image" alt="{{member.name}}" *ngIf="member.image">
      <h3>{{ member.name }}</h3>
      <p>{{ member.role }}</p>
      <div class="links">
        <a *ngIf="member.linkedin" [href]="member.linkedin" target="_blank" class="social linkedin">
          <i class="fab fa-linkedin"></i>
        </a>
        <a *ngIf="member.github" [href]="member.github" target="_blank" class="social github">
          <i class="fab fa-github"></i>
        </a>
        <a *ngIf="member.twitter" [href]="member.twitter" target="_blank" class="social twitter">
          <i class="fab fa-twitter"></i>
        </a>
        <a *ngIf="member.facebook" [href]="member.facebook" target="_blank" class="social facebook">
          <i class="fab fa-facebook"></i>
        </a>
      </div>
    </div>
  </div>
</section>
